# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hr_payroll_ng?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-to-a-random-secret-in-production"
